.Header {
  height: 64px;
  background-color: rgb(25, 118, 210);
  box-shadow: rgb(0 0 0 / 20%) 0 2px 4px -1px,
    rgb(0 0 0 / 14%) 0px 4px 5px 0px, rgb(0 0 0 / 12%) 0px 1px 10px 0px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
}
